.contact-us {
  margin-top: 100px;
  padding: 70px;
}

.contact-us-title {
  font-size: calc(2vw + 2vh + 2vmin);
  font-family: "League Spartan";
  font-weight: 900;
  color: #3d92a2;
  text-align: center;
  text-transform: uppercase;
}

.contact-us .office-address,
.contact-us .email-address,
.contact-us .contact {
  font-family: "League Spartan";
  font-weight: 900;
  margin-top: 15px;
}

.contact-us .contact-details div span {
  text-decoration: underline;
}
