@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  .nav-bar-container {
    display: flex;
  }
}

.header {
  padding-left: calc(100vw - 100%) !important;
}

.navbar {
  height: 90px;
}

.content {
  font-size: 17px !important;
  color: #3d92a2 !important;
  font-family: "Montserrat";
}

.active {
  font-size: 18.5px !important;
  color: #3d92a2 !important;
  font-weight: bold !important;
  font-family: "Montserrat" !important;
}

.nav-link {
  padding: 10px 20px !important;
}

.nav-link:hover {
  color: #3d92a2 !important;
}

#navbar-nav {
  justify-content: flex-end;
}
