.footer {
  width: 100%;
  height: 200px;
  background-color: #224c54;
  position: relative;
  bottom: 0;
  z-index: 11;
  margin-top: 50px;
  padding: 30px;
  padding-left: 50px;
  display: inline-block;
  vertical-align: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-items.call p a,
.footer-items.mail p a {
  color: #fff;
}

.footer i {
  /* background-color: transparent;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle; */

  background-color: #fff;
  color: #224c54;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  margin: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("../../assets/images/footer-buildings.png");
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  z-index: -1;
  opacity: 0.5;
}
