.about-event {
  padding: 70px 0 70px 0;
}

.about-event-title {
  font-size: calc(2vw + 2vh + 2vmin);
  text-align: center;
  font-family: "Forum";
}

.about-event .event-para {
  font-family: "EB Garamond";
  text-align: justify;
}

.about-event .event-image {
  width: 100%;
  height: 100%;
  /* background-color: #76aeb8; */
  position: relative;
  background-image: url("../../assets/images/event12.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.about-event .event-image-sm {
  height: calc(12vh + 12vw + 5vmin);
}
